@import "../../../styles/variables.scss";

.header {
    background-color: $dark-gray;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar {
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
