@import "../../../styles/variables.scss";

.header {
    background-color: $dark-gray;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        @media (max-width: map-get($breakpoints, "md")) {
            padding: 15px 20px;
        }
        .menu-btn {
            display: none;
            @media (max-width: map-get($breakpoints, "md")) {
                display: block;
                order: 3;
            }
            background: none;
            border: none;
            color: $white;
            font-size: 1.5rem;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        .logo {
            @media (max-width: map-get($breakpoints, "md")) {
                order: 2;
            }
        }
        .navbar {
            @media (max-width: map-get($breakpoints, "md")) {
                display: contents;
                .mobile-navbar {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 60%;
                    height: 100vh;
                    background-color: $dark-gray;
                    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
                    transform: translateX(100%);
                    transition: transform 0.3s ease-in-out;
                    z-index: 20;
                    &.open {
                        transform: translateX(0);
                        nav {
                            display: block;
                        }
                    }
                }
            }
            nav {
                @media (max-width: map-get($breakpoints, "md")) {
                    display: none;
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    @media (max-width: map-get($breakpoints, "md")) {
                        flex-direction: column;
                        list-style: none;
                        padding: 0;
                    }
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: $white;
                            font-size: 1.15rem;
                            svg {
                                width: 30px;
                                height: 30px;
                            }
                            &:hover {
                                color: $red;
                                transition-duration: 300ms;
                            }
                        }
                        &.active {
                            a {
                                color: $red;
                            }
                        }
                    }
                }
            }
            .close-btn {
                display: none;
                @media (max-width: map-get($breakpoints, "md")) {
                    display: block;
                }
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 1.5rem;
                color: $white;
                cursor: pointer;
            }
        }
        .account {
            @media (max-width: map-get($breakpoints, "md")) {
                order: 1;
            }
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                background-color: transparent;
                border: solid 1px $white;
                border-radius: 5px;
                padding: 10px 15px;
                transition-duration: 300ms;
                cursor: pointer;
                font-size: 0.9rem;
                font-weight: 500;
                color: $white;
                &:hover {
                    background-color: $white;
                    color: $dark-gray;
                }
            }
        }
    }
    .overlay {
        display: none;
        @media (max-width: map-get($breakpoints, "md")) {
            display: block;
        }
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}
