@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$font: "Poppins", sans-serif;
$size: 1rem;

@mixin font {
  font-family: $font;
  font-size: $size;
}

$breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
);

$red: hsl(357, 79%, 47%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 20%);
$dark-gray-tp: hsl(0deg 0% 20% / 74%);
$light-gray: hsl(0, 0%, 80%);
$soft-pink: hsl(348, 100%, 85%);
$muted-teal: hsl(180, 30%, 50%);
$light-orange: hsl(30, 100%, 70%);
$mustard-yellow: hsl(45, 100%, 40%);
$cool-blue: hsl(210, 50%, 40%);