@import "../../../styles/variables.scss";

.footer {
    background-color: $dark-gray;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 15px;
        .footer-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .footer-navbar {
            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .footer-brand-actions {
            width: 100%;
            .brand-actions-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}