@import "../../../styles/variables.scss";

.footer {
    background-color: $dark-gray;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 15px 0;
    }
}