@import "../../../styles/variables.scss";

.flights {
    .flights-reminder {
        margin-top: 50px;
    }
    .flights-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        .flights-brief {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            background-color: $white;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 30px;
            .trip-type {
                span {
                    display: inline-block;
                    background-color: $red;
                    padding: 10px 15px;
                    border-radius: 5px;
                    text-transform: capitalize;
                    color: $white;
                    font-weight: 500;
                    font-size: 1rem;
                }
            }
            .flight-route {
                display: flex;
                align-items: center;
                gap: 10px;
                span {
                    font-weight: 600;
                    color: $dark-gray;
                    font-size: 1.3rem;
                }
                svg {
                    color: $red;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .flight-detail {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .date {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    font-size: 1.1rem;
                    color: $dark-gray;
                    .departure {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        .title {
                            font-weight: 600;
                        }
                    }
                    .arrival {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        .title {
                            font-weight: 600;
                        }
                    }
                }
                .passenger {
                    font-size: 1.1rem;
                    color: $dark-gray;
                }
            }
        }
        .departure-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            background-color: $white;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 30px;
        }
        .return-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            background-color: $white;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 30px;
        }
        .summary-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            background-color: $white;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 30px;
        }
    }
}